.login-container {
  height: 100vh;
  width: 100%;
<<<<<<< HEAD
=======
  background-image: url("/image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
>>>>>>> 9e181d7b222d3aa77de23c9a775e191a5fe7f55f
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 300px;
  margin: 50px auto;
  background: rgba(223, 222, 220, 0.85);
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(71, 95, 213, 0.324);
}

.forgot-link {
  margin-top: 15px;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
}

.forgot-link:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
